.slider__card {
  background-color: white;
  border-radius: 24px;
  width: 500px;
  display: flex;
  margin: 0 32px 0 0;
}

.slider__card:first-child {
  margin-left: auto;
}

.slider__card:last-child {
  margin: 0;
}
