.content {
  max-width: 1920px;
  padding: 173px 240px 0;
  box-sizing: border-box;
}

.card {
  background: #f7f7f7;
  border-radius: 60px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.card__container {
  padding: 100px;
  box-sizing: border-box;
}

.card__title {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  color: #2c415d;
  margin: 0;
}

.card__text {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(44, 65, 93, 0.8);
  margin: 32px 0 56px;
}

.card__info {
  display: flex;
  column-gap: 60px;
}

.card__item {
  display: flex;
}

.card__duration-title {
  margin: 0 0 8px;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #2c415d;
}

.card__duration-text {
  margin: 0;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(44, 65, 93, 0.8);
}

.card__star {
  width: 32px;
  height: 32px;
  margin: 0 18px 0 0;
}

.card__img {
  max-width: 420px;
  max-height: 420px;
  padding-right: 100px;
}

.course {
  padding: 60px 100px 100px;
  max-width: 1920px;
  width: 100%;
  box-sizing: border-box;
}

.course__container {
  display: flex;
  column-gap: 100px;
}

.course__title {
  margin: 0 0 32px;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  color: #2c415d;
}

.course__img {
  width: 120px;
  height: 120px;
}

.course__item {
  display: flex;
  column-gap: 32px;
}

.course__content-title {
  margin: 0 0 8px;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #2c415d;
}

.course__content-text {
  margin: 0;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(44, 65, 93, 0.8);
}

.theory {
  padding: 0 0 80px;
  max-width: 1920px;
  width: 100%;
  box-sizing: border-box;
}

.theory__container {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* column-gap: 205px; */
  /* justify-content: space-between; */
}

.theory__title {
  margin: 0;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  color: #2c415d;
}

.theory__content {
  display: flex;
  padding: 16px 0 32px;
  box-sizing: border-box;
}

.theory__module,
.theory__video,
.theory__number-blue {
  margin: 0 60px 0 0;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #2c415d;
}

.theory__number-blue {
  margin: 0;
  color: #2f80ed;
}

.theory__course {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.theory__video {
  margin: 0;
}

.theory__button {
  background-color: #2f80ed;
  border-radius: 58px;
  padding: 12px 40px;
  color: white;
  border: 0;
}

.theory__course-container {
  /* display: flex; */
  /* justify-content: space-between; */
  border: 1px solid #2c415d;
  box-sizing: border-box;
  border-radius: 16px;
  overflow: hidden;
  max-height: 120px;
  height: 100%;
  transition: all 0.5s ease;
  /* padding: 32px 50px; */
  /* flex-direction: column; */
}

.theory__course-info {
  display: flex;
  justify-content: space-between;
  padding: 32px 40px;
  box-sizing: border-box;
}

.theory__list {
  padding: 0 50px 40px;
}

.theory_disabled {
  display: none;
}

.theory_active {
  transition: all 0.5s ease;
  max-height: min-content;
}

.theory__list-title {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2c415d;
  margin: 0;
}

.theory__list-text {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2c415d;
}

.theory__course-title {
  margin: 0;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #2c415d;
}

.theory__course-button {
  transition: all 0.5s ease-in-out;
}

.theory__course-button_rotate {
  transform: rotate(180deg);
}

@media screen and (max-width: 1600px) {
  .content {
    padding: 173px 180px 0;
  }
}

@media screen and (max-width: 1480px) {
  .content {
    padding: 173px 120px 0;
  }

  .card__container {
    padding: 100px 50px;
  }

  .card__img {
    padding-right: 50px;
  }
}

@media screen and (max-width: 1280px) {
  .content {
    padding: 123px 80px 0;
  }

  .card__container {
    padding: 65px 30px;
  }

  .card__img {
    padding-right: 30px;
  }

  .card__info {
    column-gap: 30px;
  }

  .card__title {
    font-size: 33px;
  }

  .card__text {
    font-size: 16px;
    margin: 24px 0 53px;
  }

  .card__duration-title {
    font-size: 19px;
  }

  .card__duration-text {
    font-size: 14px;
  }

  .card__star {
    margin: 0 5px 0 0;
  }

  .course {
    padding: 40px 30px;
  }

  .theory {
    padding: 0 0 60px;
  }

  .course__title {
    font-size: 33px;
  }

  .course__container {
    column-gap: 40px;
  }

  .course__item {
    column-gap: 16px;
  }

  .course__content-title {
    font-size: 19px;
  }

  .course__content-text {
    font-size: 14px;
  }

  .theory__title {
    font-size: 33px;
  }

  .theory__course-title {
    font-size: 19px;
  }

  .theory__number-blue {
    font-size: 16px;
  }

  .theory__module {
    font-size: 16px;
    margin: 0 30px 0 0;
  }

  .theory__video {
    font-size: 16px;
  }
}

@media screen and (max-width: 1025px) {
  .content {
    padding: 123px 40px 0;
  }

  .card__container {
    padding: 30px;
  }

  .card__title {
    font-size: 24px;
  }

  .card__text {
    font-size: 13px;
    margin: 20px 0 30px;
  }

  .card__img {
    width: 315px;
    height: 288px;
  }

  .card__duration-title {
    font-size: 14px;
    margin: 0;
  }

  .card__duration-text {
    font-size: 13px;
  }

  .course {
    padding: 30px 20px;
  }

  .course__item {
    column-gap: 8px;
  }

  .course__title {
    font-size: 24px;
    margin: 0 0 8px;
  }

  .course__content-title {
    font-size: 14px;
  }

  .course__content-text {
    font-size: 12px;
  }

  .course__img {
    width: 70px;
    height: 70px;
  }

  .theory__title {
    font-size: 24px;
  }

  .theory__content {
    padding: 16px 0;
  }

  .theory__module,
  .theory__video,
  .theory__number-blue {
    font-size: 14px;
  }

  .theory__course-info {
    padding: 16px 20px;
  }

  .theory__course-title {
    font-size: 14px;
  }

  .theory__course-button {
    width: 23px;
    height: 23px;
  }

  .card__star {
    width: 22px;
    height: 22px;
  }
}

@media screen and (max-width: 769px) {
  .content {
    padding: 123px 0 40px;
  }

  .card {
    flex-direction: column;
    border-radius: 0;
  }

  .card__img {
    order: -1;
    padding: 24px 0 0;
    width: 120px;
    height: 120px;
    margin: 0 auto 0 20px;
  }

  .card__container {
    padding: 20px;
  }

  .card__title {
    font-size: 28px;
    line-height: 33px;
  }

  .card__text {
    margin: 12px 0 20px;
    font-size: 14px;
    line-height: 150%;
  }

  .card__info {
    flex-direction: column;
    row-gap: 20px;
  }

  .card__star {
    width: 32px;
    height: 32px;
  }

  .card__duration-title {
    font-size: 20px;
    line-height: 24px;
  }

  .card__duration-text {
    font-size: 14px;
    line-height: 150%;
  }

  .course {
    padding: 40px 20px;
  }

  .course__title {
    font-size: 28px;
    line-height: 33px;
    margin: 0 0 32px;
  }

  .course__img {
    width: 120px;
    height: 120px;
  }

  .course__container {
    flex-direction: column;
    row-gap: 32px;
  }

  .course__item {
    flex-direction: column;
    row-gap: 16px;
  }

  .course__content-title {
    font-size: 20px;
    line-height: 24px;
  }

  .course__content-text {
    font-size: 14px;
    line-height: 150%;
  }

  .theory {
    padding: 0 20px 0;
  }

  .theory__title {
    font-size: 28px;
    line-height: 33px;
  }

  .theory__module,
  .theory__video,
  .theory__number-blue {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
  }

  .theory__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .theory__content {
    flex-direction: column;
  }

  .theory__course {
    padding: 32px 0 0;
  }

  .theory__course-title {
    font-size: 18px;
    line-height: 21px;
  }
}
