.course-inner {
  flex: 1;
  padding: 76px 0 0;
}
.course-inner__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(44, 65, 93, 0.4);
  margin: 0;
}
.course-inner__container {
  padding: 49px 80px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.course-inner__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #2c415d;
  margin: 8px 0 32px;
}

.course-inner__par {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  font-family: 'Rubik';
  color: #2c415d;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.nav {
  background-color: #2c415d;
  padding: 133px 10px 0;
  position: fixed;
  overflow-y: scroll;
  color: white;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 40px;
  box-sizing: border-box;
  transition: all 0.3s linear;
}

.nav::-webkit-scrollbar {
  width: 0;
}

.course_disactive {
  overflow-y: hidden;
}

.nav__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}
.nav__img {
  width: 20px;
  height: 20px;
  margin-left: auto;
  transition: all 0.1s linear;
}
.nav__bar {
  transform: translateX(0px);
  margin-right: 20px;
  overflow-y: scroll;
  transition: all 0.3s linear;
  padding-bottom: 50px;
}

.course-inner__buttons {
  align-self: center;
}

.course-inner__button:first-child {
  margin-right: 20px;
}

.nav__bar::-webkit-scrollbar {
  visibility: hidden;
}
.nav__img:hover {
  opacity: 0.5;
}
.nav-active {
  max-width: 300px;
}
.nav__title {
  margin: 0;
  font-size: 20px;
}
.nav__bar-inactive {
  transform: translateX(-200px);
}
.nav__item {
  color: #b6b6b6;
  cursor: pointer;
  text-decoration: none;
}
.nav__item:hover {
  color: white;
}
@media screen and (max-width: 1800px) {
  .nav {
    padding: 130px 10px 0;
  }
}
@media screen and (max-width: 1439px) {
  .course-inner__container {
    padding: 20px 80px;
  }
  .nav {
    padding: 88px 10px 0;
  }
}
@media screen and (max-width: 1279px) {
  .course-inner__container {
    padding: 20px 60px;
  }
}
@media screen and (max-width: 767px) {
  .course-inner__container {
    padding: 20px 5px 20px 45px;
  }

  .course-inner__name {
    font-size: 13px;
  }

  .course-inner__title {
    font-size: 20px;
    margin: 0;
  }

  .course-inner__par {
    font-size: 15px;
    margin: 10px 0;
  }

  .course-inner__button {
    padding: 10px 25px;
    font-size: 13px;
  }
}
.nav-adaptive-header {
  padding: 10px;
}
