.profile {
  font-family: 'Rubik';
  padding: 173px 240px 80px;
  flex: 1;
}

.profile__personal {
  display: flex;
}
.profile__avatar {
  width: 150px;
  height: 150px;
  border-radius: 128px;
  margin-right: 40px;
}
.profile__info {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.profile__info_hiden {
  display: none;
}
.profile__settings-button {
  cursor: pointer;
  height: 40px;
  width: 40px;
}
.profile__settings-button:hover {
  opacity: 0.9;
}
.profile__settings-button-hiden {
  display: none;
}
.profile__name {
  font-style: normal;
  font-weight: 500;
  margin: 0 0 12px;
  font-size: 36px;
  line-height: 43px;
  color: #2c415d;
}
.profile__email {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #2c415d;
  margin: 0 0 24px;
}

.profile__courses {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  column-gap: 100px;
}
.profile__courses-current {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
}
.profile__form-item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.profile__button {
  padding: 12px 40px;
  border: 0;
  background: #2f80ed;
  border-radius: 58px;
  box-sizing: border-box;
  height: 41px;
  width: max-content;
  max-height: 43px;
  color: white;
}
.profile__form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.profile__form-hiden {
  display: none;
}
.profile__input {
  font-family: 'Rubik';
  border: 0;
  padding: 12px 24px;
  outline: 1px solid #9dafc8;
  box-sizing: border-box;
  border-radius: 58px;
}

.profile__input-error {
  outline: 1px solid #ffa4a4;
  color: #ff3636;
}
.profile-error {
  position: absolute;
  top: -40px;
}
.profile__button-inactive {
  background: #f3f3f3;
  color: #b6b6b6;
  pointer-events: none;
}
.profile__button:hover {
  background: rgba(47, 128, 237, 0.1);
  color: #2f80ed;
}
.profile__button:active {
  outline: 1px solid #367cff;
}
.empty-courses {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.empty-courses__image {
  margin-top: 20px;
}
.empty-courses__link {
  text-align: center;
}

@media screen and (max-width: 1439px) {
  .profile {
    padding: 173px 120px 80px;
  }
}
@media screen and (max-width: 1279px) {
  .profile {
    padding: 173px 60px 80px;
  }
}
@media screen and (max-width: 1023px) {
  .profile__courses-current {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 767px) {
  .profile__form {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .profile__button {
    font-size: 12px;
    padding: 12px 20px;
  }
  .profile__input {
    width: 100%;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
  }
  .profile {
    padding: 130px 20px 80px;
  }
  .profile__courses-current {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .profile__personal {
  }
  .profile__info {
    margin-right: 10px;
  }
  .profile__avatar {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
  .profile__name {
    font-size: 28px;
    line-height: 33px;
  }
  .profile__quit-button {
  }
  .profile__email {
    font-size: 18px;
    line-height: 21px;
  }
}
@media screen and (max-width: 470px) {
  .profile__settings-button {
    width: 30px;
    height: 30px;
  }
  .profile__quit-button {
    font-size: 10px;
    padding: 12px 20px;
  }
  .profile__name {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    max-width: 44.6875vw;
    display: block;
    text-overflow: ellipsis;
  }
  .profile__email {
    font-size: 11px;
    line-height: 1;
    margin-bottom: 20px;
  }
}
