.project-info {
  max-width: 1920px;
  margin: 0 auto;
  padding: 173px 240px 77px;
  box-sizing: border-box;
}

.project-info__lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
}

.project-info__title {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  color: #2c415d;
  margin: 0 0 40px;
}

.project-info__content {
  display: flex;
}

.project-info__content-title {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #2c415d;
  margin: 0 0 8px 24px;
}

.project-info__content-description {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(44, 65, 93, 0.8);
  margin: 0 0 0 24px;
}

.project-info__img {
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 768px) {
  .project-info {
    padding: 106px 20px 40px;
  }
  .project-info__title {
    font-size: 28px;
    line-height: 33px;
  }
  .project-info__content-title {
    font-size: 20px;
    line-height: 24px;
    margin: 8px 0 4px;
  }
  .project-info__content-description {
    font-size: 14px;
    line-height: 150%;
    margin: 0;
  }
  .project-info__lists {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
  .project-info__content {
    flex-direction: column;
  }
}

@media screen and (max-width: 1439px) {
  .project-info {
    padding: 173px 180px 77px;
  }
}

@media screen and (max-width: 1279px) {
  .project-info {
    padding: 153px 60px 47px;
  }
}
