.slider__title {
    font-family: 'Rubik', arial, helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    color: #2C415D;
    margin: 0 0 23px;
}