.footer__link {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
  display: block;
  color: white;
  transition: all 0.2s ease;
  margin-right: 32px;
}
.footer__link:last-child {
  margin: 0;
}
.footer__link:hover {
  color: #367cff;
}
