.benefits__button {
  width: 170px;
  box-sizing: border-box;
  padding: 12px 40px;
  background-color: #2f80ed;
  border-radius: 58px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
}
.benefits__button:hover {
  background-color: #5297f1;
  transform: scale(1.05);
}
