.reviews {
  display: flex;
  flex-direction: column;
  padding: 70px 110px 80px;
}

.reviews__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
}

.reviews__row {
  display: flex;
  column-gap: 22px;
}

.review__link {
  width: 170px;
  height: 43px;
  background: #2f80ed;
  border-radius: 58px;
  padding: 12px 40px;
  display: flex;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin: 24px auto 0;
}
.review__link:hover {
  background: rgba(47, 128, 237, 0.1);
  color: rgba(47, 128, 237, 1);
}
.review__link:active {
  outline: 1px solid #367cff;
}
