.slider__subtitle {
    font-family: 'Rubik', arial, helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #2C415D;
    margin: 0 0 44px;
}