.instruction {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 240px;
  box-sizing: border-box;
}

.instruction__title {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  color: #2c415d;
  margin: 0 0 40px;
}

.instruction__lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 120px;
  padding: 0 56px;
}

.instruction__item-title {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #2c415d;
  margin: 0 0 8px;
}

.instruction__container {
  position: relative;
  z-index: -1;
}

.instruction__item-description {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(44, 65, 93, 0.8);
  margin: 0;
}

.instruction__line {
  padding: 60px 55px 0;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 1439px) {
  .instruction {
    padding: 0 180px;
  }
}

@media screen and (max-width: 1279px) {
  .instruction__lists {
    column-gap: 60px;
  }

  .instruction {
    padding: 0 60px;
  }
}

@media screen and (max-width: 767px) {
  .instruction {
    padding: 0 20px;
  }
  .instruction__line {
    display: none;
  }
  .instruction__title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 24px;
  }
  .instruction__item-title {
    font-size: 20px;
    line-height: 24px;
  }
  .instruction__item-description {
    font-size: 14px;
    line-height: 150%;
  }
  .instruction__lists {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .instruction__item {
    margin: 0 0 32px 30px;
  }
  .instruction__item:last-of-type {
    margin-bottom: 0;
  }
  .instruction__container {
    background-image: url(../../../images/line320px.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
