.header__button {
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  cursor: pointer;
  transition: all 0.2s ease;
}

.header__button:first-child:hover {
  opacity: 0.3;
}

.header__button:last-child {
  background-image: none;
  margin-left: 40px;
  background-color: #2f80ed;
  border-radius: 58px;
  width: 128px;
  height: 43px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 40px;
  text-decoration: none;
}
.header__button:last-child:hover {
  background: rgba(47, 128, 237, 0.1);
  color: #2f80ed;
}
.header__button:last-child:active {
  outline: 1px solid #367cff;
}

.header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  max-width: 1920px;
  margin: 0 auto;
}

.header__link {
  font-family: 'Rubik', arial, helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  width: max-content;
  text-decoration: none;
  line-height: 24px;
  color: #2c415d;
  transition: all 0.2s ease;
}

.header__link:hover {
  color: #367cff;
}

.header_hide {
  transform: translateY(-113px);
  padding: 24px 0 30px;
}

.header {
  width: 100%;
  padding: 38px 240px 30px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
  grid-gap: 5px;
  align-items: center;
  border-bottom: 2px solid #e4e4e4;
  background-color: white;
  z-index: 1;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in-out;
}

.header__nav {
  display: flex;
  column-gap: 90px;
  align-items: center;
}

.header__buttons-mobile {
  display: none;
}

.header__img {
  margin: 0;
}

.header__profile-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__profile-image {
  width: 44px;
  height: 44px;
  margin-right: 12px;
}

.header__profile-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #2c415d;
  margin: 0;
}

@media screen and (max-width: 1800px) {
  .header {
    padding: 38px 60px;
  }
}

@media screen and (max-width: 1440px) {
  .header {
    padding: 15px 60px;
  }
}

@media screen and (max-width: 1023px) {
  .header__button:last-child {
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 21px 20px;
    grid-template-columns: 1fr 1fr;
  }
  .header__nav {
    display: none;
  }
  .header__img {
    width: 148px;
    height: 30px;
  }
  .header__button {
    width: 32px;
    height: 32px;
  }
  .header__burger {
    width: 32px;
    height: 32px;
    margin-left: 28px;
  }
  .header__buttons-mobile {
    display: flex;
  }
  .header__buttons-desktop {
    display: none;
  }
}
