.courses {
  font-family: 'Rubik';
  display: flex;
  flex-direction: column;
  padding: 213px 240px;
  flex: 1;
}
.courses__title {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  color: #2c415d;
  margin: 0 0 50px;
}

.courses__table div:first-child {
  margin: 0;
}

.courses__table div:last-child {
  margin: 0;
}

.courses__table {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(452px, 1fr));
  gap: 32px;
}

@media screen and (max-width: 1919px) {
  .courses {
    padding: 120px 60px;
  }
  .courses__title {
    font-size: 40px;
  }
  .courses__table {
    gap: 22px;
    grid-template-columns: repeat(auto-fill, minmax(452px, 1fr));
  }
}

@media screen and (max-width: 1279px) {
  .courses {
    padding: 100px 60px 70px;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .courses {
    padding: 105px 20px 40px;
  }
  .courses__table {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .courses__title {
    font-size: 24px;
    line-height: 28px;
  }
}
