.courses {
  font-family: "Rubik";
  display: flex;
  flex-direction: column;
  padding: 213px 240px;
}
.courses__title {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  color: #2c415d;
}

.slider__card {
  border: 1px solid #e4e4e4;
}
.courses__table {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(452px, 1fr));
  gap: 32px;
}
