.registration {
  display: flex;
  font-family: "Rubik";
  padding: 213px 0 172px;
  flex: 1;
  margin: 0 auto;
}
.registration__container {
  display: flex;
  flex-direction: column;
  margin-right: 164px;
  justify-content: center;
}
.registration__title {
  font-style: normal;
  margin: 0 0 45px;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  color: #2c415d;
}
.registration__form {
  display: flex;
  flex-direction: column;
}
.registration__input {
  font-family: "Rubik";
  border: 0;
  padding: 12px 24px;
  outline: 1px solid #9dafc8;
  box-sizing: border-box;
  border-radius: 58px;
  margin-bottom: 33px;
}
.registration__input:last-of-type {
  margin-bottom: 40px;
}
.registration__submit-button {
  background: #2f80ed;
  border-radius: 58px;
  padding: 12px 40px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  margin-right: 48px;
  border: 0;
}
.registration__submit-button:hover {
  background: rgba(47, 128, 237, 0.1);
  color: #2f80ed;
}
.registration__submit-button:active {
  outline: 1px solid #367cff;
}
.registration__button {
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  line-height: 19px;
  color: #2c415d;
  border: 0;
  background-color: transparent;
}
.registration__image {
}

.error-message {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ff3636;
  max-width: 320px;
  margin-bottom: 2px;
}

.registration__submit-button-inactive {
  background: #f3f3f3;
  color: #b6b6b6;
  pointer-events: none;
}

.registration__input-error {
  outline: 1px solid #ffa4a4;
  color: #ff3636;
}

.registration-error {
  margin: 0 0 5px 24px;
}

@media screen and (max-width: 1023px) {
  .registration {
    padding: 124px 0 82px;
  }
  .registration__container {
    margin-right: 80px;
  }
  .registration__image {
    width: 325px;
  }
}

@media screen and (max-width: 767px) {
  .registration__title {
    font-size: 48px;
    line-height: 57px;
    text-align: center;
  }
  .registration__image {
    display: none;
  }
  .registration {
    padding: 106px 0 40px;
  }
  .registration__form {
    margin: 0;
  }
  .registration__submit-button {
    margin: 0;
  }
  .registration__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .registration__container {
    margin: 0;
  }
}
