.creators {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 240px 80px;
  box-sizing: border-box;
  width: 100%;
}

.creators__title {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  color: #2c415d;
  margin: 80px 0 40px;
}

.creators__content {
  display: grid;
  grid-template-columns: repeat(3, 225px);
  column-gap: 230px;
}

.creators__item {
  display: flex;
  flex-direction: column;
}

.creators__avatar {
  border-radius: 10px;
  margin: 0 0 10px;
  width: 200px;
  height: 200px;
}

.creators__name {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #2c415d;
  margin: 0 0 8px;
}

.creators__job {
  margin: 0;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(44, 65, 93, 0.8);
}

@media screen and (max-width: 1439px) {
  .creators__content {
    column-gap: 100px;
  }

  .creators {
    padding: 0 60px 60px;
  }

  .creators__title {
    font-size: 40px;
    margin: 40px 0 20px;
  }

  .creators__name {
    font-size: 21px;
  }

  .creators__job {
    font-size: 15px;
  }
}

@media screen and (max-width: 1023px) {
  .creators__content {
    grid-template-columns: repeat(3, minmax(auto-fit, 225px));
    column-gap: 25px;
  }
}

@media screen and (max-width: 767px) {
  .creators {
    padding: 0 20px 40px;
  }
  .creators__content {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
  .creators__title {
    font-size: 28px;
    line-height: 33px;
  }
  .creators__name {
    font-size: 24px;
    line-height: 28px;
  }
  .creators__job {
    font-size: 14px;
    line-height: 150%;
  }
}
