.login {
  padding: 213px 0 360px;
  display: flex;
  font-family: "Rubik";
  margin: 0 auto;
  flex: 1;
}
.login__container {
  display: flex;
  margin-right: 198px;
  flex-direction: column;
}
.login__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  margin: 0 0 61px;
  color: #2c415d;
}
.login__input {
  border: 1px solid #9dafc8;
  box-sizing: border-box;
  border-radius: 58px;
  margin-bottom: 33px;
  padding: 12px 24px;
}
.login__input:last-of-type {
  margin-bottom: 44px;
}
.login__submit-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border: 0;
  color: white;
  font-size: 16px;
  padding: 12px 40px;
  background: #2f80ed;
  border-radius: 58px;
  margin-right: 48px;
  transition: all 0.2 ease;
}
.login__submit-button:hover {
  background: rgba(47, 128, 237, 0.1);
  color: #2f80ed;
}
.login__registration-button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2c415d;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.2 ease;
}
.login__registration-button:hover {
  opacity: 0.5;
}
.login__form {
  display: flex;
  flex-direction: column;
}
.login__buttons {
  display: flex;
}
@media screen and (max-width: 1279px) {
  .login {
    padding: 163px 0 180px;
  }
  .login__container {
    margin-right: 125px;
  }
}

@media screen and (max-width: 1023px) {
  .login__image {
    width: 293px;
  }
}

@media screen and (max-width: 767px) {
  .login__title {
    font-size: 48px;
    line-height: 57px;
  }
  .login {
    padding: 106px 0 42px;
  }
  .login__container {
    margin: 0;
  }
  .login__submit-button {
    margin-right: 40px;
  }
  .login__image {
    display: none;
  }
}
