.slider__about-button {
  background-color: transparent;
  border: none;
  background-color: #2f80ed;
  border-radius: 58px;
  cursor: pointer;
  color: white;
  width: 212px;
  height: 35px;
  margin: 16px 0 0;
  transition: all 0.2s ease;
}

.slider__about-button:hover {
  background: rgba(47, 128, 237, 0.1);
  color: #2f80ed;
}
.slider__about-button:active {
  outline: 1px solid #367cff;
}
